#admin {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;

    .tabs {
        display: flex;
        gap: 1rem;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 1rem;
    }

    .profile-grid, .items-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
        padding: 1rem 0;
    }
}