#bank {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    font-size: 18px;
    padding: 20px;

    .bank-header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        height: 81px;
        border-bottom: 1px solid var(--primary-color);
    }

    .bank-header-heading {
        font-size: 30px;
    }
}