#bank {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    font-size: 18px;
    padding: 20px;

    .bank-header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        height: 81px;
        border-bottom: 1px solid var(--primary-color);
        
        .wrapper {
            flex: 1 1 33%;
        }

        .bank-header-heading {
            font-size: 30px;
            display: flex;
            justify-content: center;
        }
        .back-button-wrapper {
            display: flex;
            justify-content: end;
        }
    }

    .heading {
        font-size: 18px;
        color: var(--text-color);
    }

    .bank-content-wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .bank-profile-content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        font-size: 50px;
        width: 100%;
        padding: 40px 0px;
        gap: 40px;
        border-bottom: 1px solid var(--primary-color);

        .profile-image-wrapper {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            border: 2px solid var(--primary-color);
        }
        .profile-bank-info-wrapper {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 4px;
            justify-content: center;
        }
    }

    .bank-gold-content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 40px 0px;
        .profile-gold-display {
            color: var(--text-color);
            display: flex;
            align-items: center;
            flex-direction: row;
            font-size: 50px;
            gap: 10px;
        }
        .gold { /* 2x sized gold */
            width: 46px;
            height: 38px;

            .upper, .lower {
                width: 40px;
                height: 26px;
                border-width: 4px;
            }
        }
    }

    .bank-actions-content-wrapper { 
        flex: 1; 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;

        button.text-button {
            width: 250px;
            background-color: var(--background-primary-color);
        }
        button.text-button:hover {
            background-color: var(--background-secondary-color-inverse);
        }
    }
}