#character {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    color: var(--accent-color);
    font-size: 24px;

    .logout-container {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .logout-container, .character-footer-wrapper {
        padding: 20px;
    }

    .character-menu-wrapper {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
    }
    .character-menu-header {
        margin-bottom: 20px;
    }

    .character-menu-subheader {
        margin-bottom: 40px;
    }

    .character-menu-header, .character-menu-subheader, .character-menu-buttons-wrapper, .character-menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .character-menu-buttons-wrapper {
        gap: 80px;
        flex-wrap: wrap;
        flex: 1 0 auto;
        padding: 0px 40px;
    }

    .character-menu-button {
        flex-direction: column;
        gap: 10px;
    }

    .character-menu-button-image {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 1px solid var(--accent-color);
    }
    
    .character-menu-button-label, .character-footer-wrapper {
        font-weight: bold;
    }

    .character-menu-button:hover {
        background-color: gray;
    }

    .character-footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}