#character {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    font-size: 24px;
    padding: 20px;

    .character-header-wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .character-header-wrapper {
        padding-bottom: 20px;
        height: 80px;
    } 
    
    .character-footer-wrapper {
        padding-top: 20px;
    }

    .character-menu-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .character-menu-heading {
        margin-bottom: 20px;
    }

    .character-menu-subheading {
        margin-bottom: 40px;
    }

    .character-menu-heading, .character-menu-subheading, .character-menu-buttons-wrapper, .character-menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .character-menu-buttons-wrapper {
        gap: 80px;
        flex-wrap: wrap;
        flex: 1;
        padding: 0px 40px;
    }

    .character-menu-button {
        flex-direction: column;
        gap: 10px;
    }

    .character-menu-button-image {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 1px solid var(--primary-color);
    }
    
    .character-menu-button-label, .character-menu-heading, .character-menu-subheading {
        font-weight: bold;
    }

    .character-menu-button:hover, .character-menu-button-image:hover {
        color: var(--accent-color) !important;
        border-color: var(--accent-color) !important;
        cursor: pointer;
    }

    .character-footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}