#lobby {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;

    .player-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .player-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
    }
}