#shop {
    flex: 1;
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
    font-size: 18px;
    padding: 20px;
    gap: 20px;
    height: 100%;
    flex-wrap: wrap;

    .items-container {
        min-width: 30%;
    }
    .cart-container {
        min-width: 40%;
    }

    .items-container, .cart-container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    .items-header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: 20px;
    }

    .items-header-heading, .cart-heading {
        font-size: 30px;
    }

    .profile-preview-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .profile-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
        justify-content: center;
    }
    
    .profile-gold-display {
        color: var(--text-color)
    }

    .profile-image-wrapper {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid var(--primary-color);
    }

    .items-grid {
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .add-to-cart {
        border: 2px solid var(--primary-color);
        background-color: var(--background-color);
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .item-wrapper.item-locked {
        background-color: var(--error-color);
    }
    .item-wrapper.item-oos {
        opacity: 0.5
    }

    /* swap to grid later! */
    .item-wrapper {
        border: 2px solid var(--primary-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--text-color);
        
        .divider {
            border-right: 1px solid var(--primary-color);
            height: 100%;
        }
        .wrapper {
            padding: 10px 20px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .item-add-to-cart-wrapper { flex: 1 1 5%; }
        .item-number-wrapper { flex: 1 1 10%; }
        .item-info-wrapper { flex: 1 1 65%; }
        .item-quantity-wrapper { flex: 1 1 10%; }
        .item-price-wrapper { flex: 1 1 10%; }
        
        .item-info-wrapper {
            flex-direction: column;
            align-items: start;
        }
    }

    .cart-wrapper {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--primary-color);
        background-color: var(--background-secondary-color);
        padding: 20px;
        flex: 1;
    }

    .cart-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--primary-color);
    }

    .cart-items-wrapper {
        flex: 1;
    }

    .cart-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}