#shop {
    flex: 1;
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
    font-size: 18px;
    padding: 20px;
    gap: 20px;
    height: 100%;
    flex-wrap: wrap;

    .items-container {
        flex: 1 1 1000px;
    }
    .cart-container {
        flex: 1 1 450px;
    }

    .items-container, .cart-container {
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }

    .items-header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: 20px;
    }

    .items-header-heading, .cart-heading {
        font-size: 30px;
    }

    .profile-preview-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .profile-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
        justify-content: center;
    }
    
    .profile-gold-display {
        color: var(--text-color)
    }

    .profile-image-wrapper {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid var(--primary-color);
    }

    .items-grid {
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .add-to-cart {
        border: 2px solid var(--primary-color);
        background-color: var(--background-color);
        width: 20px;
        height: 20px;
    }

    .item-wrapper:not(.item-oos, .item-locked) {
        .add-to-cart {
            cursor: pointer;
        }
        .add-to-cart:hover {
            border-color: var(--accent-color);
            background: var(--text-color);
        }
    }

    .item-wrapper.item-locked {
        background-color: var(--error-color);
    }
    .item-wrapper.item-oos {
        opacity: 0.5
    }
    .item-wrapper.selected {
        border-color: var(--accent-color);
        .add-to-cart {
            border-color: var(--accent-color);
            background: var(--text-color);
        }
        .divider {
            border-color: var(--accent-color);
        }
    }

    /* swap to grid later! */
    .item-wrapper {
        border: 2px solid var(--primary-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--text-color);
        
        .divider {
            border-right: 1px solid var(--primary-color);
            height: 100%;
        }
        .wrapper {
            padding: 10px 20px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .item-add-to-cart-wrapper { flex: 1 1 5%; }
        .item-number-wrapper { flex: 1 1 10%; }
        .item-info-wrapper { flex: 1 1 65%; }
        .item-quantity-wrapper { flex: 1 1 10%; }
        .item-price-wrapper { flex: 1 1 10%; }
        
        .item-info-wrapper {
            flex-direction: column;
            align-items: start;
        }
    }

    .cart-wrapper {
        display: flex;
        flex-direction: column;
        border: 2px solid var(--primary-color);
        background-color: var(--background-secondary-color);
        padding: 20px;
        flex: 1;
        max-height: 100%;
    }

    .cart-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 17px;
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: 20px;
    }

    .cart-items-wrapper {
        flex: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .cart-item-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--text-color);
        gap: 5px;
        border-bottom: 1px solid var(--primary-color);
        padding-bottom: 15px;

        .cart-item-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: row;
        }

        .cart-item-name-wrapper { 
            flex: 1 1 55%;
            gap: 5px;
        }
        .cart-item-stepper-wrapper { flex: 1 1 25%; }
        .cart-item-price-wrapper { 
            flex: 1 1 20%; 
            gap: 5px;
            justify-content: end;
        }
        .cart-item-description-wrapper { width: 100%; }

        .cart-item-number { opacity: 50%; }
    }

    .cart-total-wrapper {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid var(--primary-color);
        padding-top: 20px;
    }

    .cart-total {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: end;
        gap: 5px;
    }

    .cart-item-total-price {
        color: var(--text-color);
    }

    .cart-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}