#shop {
    flex: 1;
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
    font-size: 18px;
    padding: 20px;
    gap: 20px;

    .items-container, .cart-container {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
    }

    .items-header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--primary-color);
    }

    .items-header-heading, .cart-heading {
        font-size: 30px;
    }

    .profile-preview-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .profile-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
        justify-content: center;
    }
    
    .profile-gold-display {
        color: var(--text-color)
    }

    .profile-image-wrapper {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid var(--primary-color);
    }

    .cart-wrapper {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--primary-color);
        background-color: var(--background-secondary-color);
        padding: 20px;
        flex: 1;
    }

    .cart-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--primary-color);
    }

    .cart-items-wrapper {
        flex: 1;
    }

    .cart-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}