#admin {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;

    .tabs {
        display: flex;
        gap: 1rem;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 1rem;
    }

    .profile-grid, .items-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
        padding: 1rem 0;
    }

    #showActivity {
        position: relative;
    }

    #characterForm {
        display: flex;
        flex-direction: row;
    }

    .character-form-images,
    .character-form-details {
        display: flex;
        flex-direction: column;
    }
    
    #activityBadge {
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        /* z-index: 100; */
        top: -10px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-card .profile-image-wrapper,
    .profile-card .emblem-image-wrapper {
        width: 60px;
        height: 60px;
    }

    
    .profile-image-wrapper, 
    .emblem-image-wrapper {
        flex: 1 0 auto;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 2px solid var(--primary-color);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }
}