#character {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    font-size: 24px;
    padding: 20px;

    .character-header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        height: 80px;

        .wrapper {
            display: flex;
            flex: 1 1 33%;
        }

        .game-timer-wrapper {
            font-size: 30px;
            color: var(--text-color);
            justify-content: center;
        }

        .logout-button-wrapper {
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }

    #logout-loading-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 51px;
        width: 150px;
    }
    
    .character-footer-wrapper {
        padding-top: 20px;
    }

    .character-menu-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .character-menu-heading {
        margin-bottom: 20px;
    }

    .character-menu-subheading {
        margin-bottom: 40px;
    }

    .character-menu-heading, .character-menu-subheading, .character-menu-buttons-wrapper, .character-menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .character-menu-buttons-wrapper {
        gap: 80px;
        flex-wrap: wrap;
        flex: 1;
        padding: 0px 40px;
    }

    .character-menu-button {
        position: relative;
        flex-direction: column;
        gap: 10px;
    }

    .character-menu-button-image {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 2px solid var(--primary-color);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 50%;
        }
    }

    .character-menu-button-image.loading {
        img {
            opacity: 50%;
        }

        .spinner {
            border-top-color: var(--accent-color);
        }
    }
    
    .character-menu-button-label, .character-menu-heading, .character-menu-subheading {
        font-weight: bold;
    }

    .character-menu-button:hover, 
    .character-menu-button:hover .character-menu-button-image {
        color: var(--accent-color) !important;
        border-color: var(--accent-color) !important;
        cursor: pointer;
    }

    .character-footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .overlay-spinner {
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 250px;


        .spinner {
            width: 80px;
            height: 80px;
        }
    }
}