#login {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    font-size: 18px;
    padding: 20px;

    .login-header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        height: 80px;

        .wrapper {
            display: flex;
            flex: 1 1 33%;
        }

        .game-timer-wrapper {
            font-size: 30px;
            color: var(--text-color);
            justify-content: center;
        }

        .back-button-wrapper {
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }

    .login-wrapper {
        flex: 1;
    }

    .login-card {
        flex-direction: column;
        gap: 40px;
    }

    .login-text-input-wrapper, .login-error-message-placeholder {
        margin-bottom: 10px;
    }

    #login-submit-button {
        background-color: var(--background-primary-color);
    }

    #login-submit-button:hover {
        background-color: var(--background-secondary-color-inverse);
    }

    .login-emblem {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 2px solid var(--primary-color);
    }

    .login-wrapper, .login-card, .form-submit-wrapper, .login-error-message-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-error-message-placeholder {
        height: 27px;
        font-size: 14px;
    }

    .login-text-input-wrapper input {
        width: 100%;
    }

    .form-submit-wrapper .spinner {
        width: 51px;
        height: 51px;
    }
}