#shop {
    flex: 1;
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
    font-size: 18px;
    padding: 20px;
    gap: 20px;
    height: 100%;
    flex-wrap: wrap;

    .items-container {
        flex: 1 1 1000px;
        min-height: 500px;
    }
    .cart-container {
        flex: 1 1 450px;
        min-height: 500px;
    }

    .items-container, .cart-container {
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }

    .items-header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: 20px;
        .wrapper {
            flex: 1 1 33%;
            display: flex;
        }
        .items-header-heading {
            justify-content: center;
        }
        .back-button-wrapper {
            justify-content: start;
            display: flex;
            gap: 10px;
        }
        .profile-preview-wrapper {
            justify-content: end;
        }
    }

    #showPurchaseHistory {
        position: relative;
    }
    
    #purchaseHistoryBadge {
        position: absolute;
        background-color: var(--text-error-color);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        z-index: 100;
        top: -10px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .items-header-heading, .cart-heading, .purchase-history-heading {
        font-size: 30px;
    }

    .profile-preview-wrapper {
        flex-direction: row;
        gap: 20px;
    }

    .profile-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 4px;
        justify-content: center;
    }
    
    .profile-gold-display {
        color: var(--text-color);
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5px;
    }

    .profile-image-wrapper {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid var(--primary-color);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }



    .items-grid {
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        scrollbar-color: var(--primary-color) var(--app-background-color);
        scrollbar-width: thin;
    }

    .add-to-cart {
        border: 2px solid var(--primary-color);
        background-color: var(--background-color);
        width: 20px;
        height: 20px;
    }

    .item-wrapper:not(.item-oos, .item-locked) {
        .add-to-cart {
            cursor: pointer;
        }
        .add-to-cart:hover {
            border-color: var(--accent-color);
            background: var(--text-color);
        }
    }

    .item-wrapper.item-locked {
        background-color: var(--background-error-color);
    }
    .item-wrapper.item-oos {
        opacity: 0.5
    }
    .item-wrapper.selected {
        border-color: var(--accent-color);
        .add-to-cart {
            border-color: var(--accent-color);
            background: var(--background-secondary-color-inverse);
        }
        .divider {
            border-color: var(--accent-color);
        }
    }

    /* swap to display:grid later! */
    .item-wrapper {
        border: 2px solid var(--primary-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--text-color);
        
        .divider {
            border-right: 1px solid var(--primary-color);
            height: 100%;
        }
        .wrapper {
            padding: 10px 20px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .item-add-to-cart-wrapper { flex: 1 1 5%; }
        .item-number-wrapper { flex: 1 1 10%; }
        .item-info-wrapper { flex: 1 1 65%; }
        .item-quantity-wrapper { flex: 1 1 10%; }
        .item-price-wrapper { flex: 1 1 10%; }
        
        .item-info-wrapper {
            flex-direction: column;
            align-items: start;
        }
    }

    .cart-wrapper {
        display: flex;
        flex-direction: column;
        border: 2px solid var(--primary-color);
        background-color: var(--background-secondary-color);
        padding: 20px;
        flex: 1;
        max-height: 100%;
    }

    .cart-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 16.5px;
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: 20px;
    }
    .cart-items-wrapper, .purchase-history-wrapper {
        flex: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        scrollbar-color: var(--primary-color) var(--background-secondary-color);
        scrollbar-width: thin;
    }

    .cart-item-wrapper:not(:last-child) {
        border-bottom: 1px solid var(--primary-color);
    }

    .cart-item-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--text-color);
        gap: 5px;
        padding-bottom: 15px;

        .cart-item-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: row;
        }

        .cart-item-name-wrapper { 
            flex: 1 1 55%;
            gap: 5px;
        }
        .cart-item-stepper-wrapper { flex: 1 1 25%; }
        .cart-item-price-wrapper { 
            flex: 1 1 20%; 
            gap: 5px;
            justify-content: end;
        }
        .cart-item-description-wrapper { width: 100%; }

        .cart-item-number { opacity: 50%; }

        .cart-item-stepper {
            border: 2px solid var(--primary-color);
            height: 30px;
            width: 100%;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            button {
                border: none;
                background: none;
                height: 100%;
                color: var(--primary-color);
                width: 20%;
                min-width: 40px;
                font-size: 20px;
            }
            button:not(:disabled) {
                cursor: pointer;
            }
            button.cart-item-minus {
                border-bottom-left-radius: 15px;
                border-top-left-radius: 15px;
            }
            button.cart-item-plus {
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
            }
            button:disabled {
                color: var(--background-secondary-color-inverse)
            }
            button:hover:not(:disabled) {
                background: var(--background-secondary-color-inverse);
            }
        }
    }

    .cart-total-wrapper {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid var(--primary-color);
        padding: 20px 0px;
    }

    .cart-total {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: end;
        gap: 5px;
    }

    .cart-item-total-price {
        color: var(--text-color);
    }

    .cart-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #purchaseCart {
        flex: 1;
    }
    
    .purchase-history-header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: 20px;
        .wrapper {
            display: flex;
            flex: 1 1 15%;
        }
        .purchase-history-heading {
            justify-content: center;
            flex: 1 1 70%;
        }
        .back-button-wrapper {
            justify-content: end;
        }
        #closePurchaseHistory {
            height: 40px;
            width: 40px;
        }
    }

    .purchase-history-modal-content {
        display: flex;
        flex-direction: column;
    }

    .purchase-entry {
        color: var(--text-color);
        padding-bottom: 15px;
        
        &:not(:last-child) {
            border-bottom: 1px solid var(--primary-color);
        }

        .price {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: end;
            gap: 5px;
        }

        .hist-item, .purchase-section-total, .purchase-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .purchase-section-body, .purchase-section-total {
            padding-top: 10px;
        }

        .hist-item.rejected {
            text-decoration: line-through;
        }

        .hist-item.pending {
            opacity: 70%;
        }
    }

}