#timer {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    font-size: 18px;

    .timer-header-wrapper {
        z-index: 100;
        margin: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        height: 80px;

        .wrapper {
            display: flex;
            flex: 1 1 33%;
        }

        .back-button-wrapper {
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: end;
        }
        .back-button-wrapper:hover {
            opacity: 1;
        }
    }

    .game-timer-wrapper {   
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 150px;
        color: var(--text-color);
        overflow: hidden;
        
        #gameTimer {
            z-index: 50;
        }

        img {
            filter: brightness(75%);
            position: absolute;
            min-height: calc(100% + 500px);
            min-width: calc(100% + 350px);
        }
    }
}