#user {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;

    .games-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
    }
}